.nav__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--claro);
}

@media (min-width: 1050px) {
    .nav__container {
        flex-direction: row;
    }
}

.sombra {
    -webkit-box-shadow: 6px 0px 28px -6px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 6px 0px 28px -6px rgba(0, 0, 0, 0.51);
    box-shadow: 6px 0px 28px -6px rgba(0, 0, 0, 0.51);
}